<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.Uhdiya.mypage.shoppingList">

	<!-- 주문내역 리스트  -->
	<select id="selectOrderList" resultType="com.spring.Uhdiya.mypage.shoppingList.ShoppingListDomain" parameterType="com.spring.Uhdiya.mypage.shoppingList.DaySearchVO">
	select o.order_num, tto.order_list_num, tto.total_price, o.order_date, tto.chk_cancle, m.member_id, p.product_name, o.quantity, r.receiver_zipcode, r.receiver_name, r.receiver_phone, a.receiver_addr1, a.receiver_addr2
	from product p, ORDERS o, TOTAL_ORDER tto, PAYMENT p, RECEIVER r, ADDRESS a, member m 
	where 
	p.product_code=o.product_code
	and o.ORDER_LIST_NUM=tto.ORDER_LIST_NUM
	and tto.ORDER_LIST_NUM=p.ORDER_LIST_NUM
	and tto.ORDER_LIST_NUM=r.ORDER_LIST_NUM
	and r.RECEIVER_ZIPCODE=a.RECEIVER_ZIPCODE
	and m.member_id=tto.member_id
	and m.member_id=#{id}
	<if test="searchDay neq null">
		<trim prefix="and" prefixOverrides="and">tto.ORDER_LIST_DATE between #{searchDay} and #{today}</trim>
	</if>
	order by ORDER_LIST_DATE
	</select>
	
	<!-- 주문내역 상세보기 -->
	<select id="detail" resultType="com.spring.Uhdiya.mypage.shoppingList.ShoppingListDomain" parameterType="com.spring.Uhdiya.mypage.shoppingList.DetailSearchVO">
	select o.order_num, tto.order_list_num, tto.total_price, o.order_date, tto.chk_cancle, m.member_id, p.product_name, o.quantity, r.receiver_zipcode, r.receiver_name, r.receiver_phone, a.receiver_addr1, a.receiver_addr2
	from product p, ORDERS o, TOTAL_ORDER tto, PAYMENT p, RECEIVER r, ADDRESS a, member m 
	where 
	p.product_code=o.product_code
	and o.ORDER_LIST_NUM=tto.ORDER_LIST_NUM
	and tto.ORDER_LIST_NUM=p.ORDER_LIST_NUM
	and tto.ORDER_LIST_NUM=r.ORDER_LIST_NUM
	and r.RECEIVER_ZIPCODE=a.RECEIVER_ZIPCODE
	and m.member_id=tto.member_id
	and m.member_id=#{id}
	and o.order_num=#{order_num}
	</select>
	
</mapper>