<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://kit.fontawesome.com/96e0fede2d.js" crossorigin="anonymous"></script>
</head>
<script>
</script>
<style>
	*{margin:0; padding:0;}
	a{text-decoration: none; color:black;}
	ul{list-style: none;}
	.member_info{margin: 45px auto; width:900px; display: block; background-color: #EDEDED;}
	.info_box{ box-shadow: 2px 2px 14px 0 rgb(0 164 73,0.8); border-radius:12px; border:1px solid rgba(194, 98, 37,0.8); box-sizing:border-box; padding: 16px 17px 0; background-color: #fff;}
	.info_title{position: relative;}
	.my_profile{display: block;}
	.title_text{display: inline-block; color: #96a1aa;}
</style>
<body>
	<div class="member_info">
		<div class="info_box">
			<div class="my_profile">
				<div class="info_title">
					<h3 class="title_text">기본정보</h3>
					<a href="#" id="info1"><i class="fa-regular fa-circle-question"></i></a>
					<div id="info_tooltip" class="tooltip" style="display: none;" aria-hidden="true">
						<strong>사용자 이름</strong>
						<p class="tooltip_text">본인확인이 가능한 이름을 사용하시기 바랍니다.</p>
						<strong>연락처 이메일</strong>
						<p class="tooltip_text">아이디, 비밀번호 찾기, 로그인이 안되는 경우 등 본인확인이 필요한 경우 사용합니다.</p>
						<strong>주소 변경</strong>
						<p class="tooltip_text">기존 배송지로 사용할 수 있으니, 정확한 주소입력이 필요합니다.</p>
					</div>
				</div>
				<ul class="myinfo">
					<li>
						<div class="myphoto">
							<img src="../../../resources/img/default.png" style="width:56px;height:56px;"/>
						</div>
					</li>
					<li>
						<div class="myaccount">
							<div class="myname">
								<span class="myname_text">이충주</span>
								<button type="button" class="btn_edit"><span class="text">실명수정</span></button>
							</div>
							<div class="myemail">ld210@naver.com</div>
						</div>
					</li>
				</ul>
			</div>
			<ul class="subindex-row">
				<li>
					<div class="row_item_phone">
						<span id="myphone">010-2468-6590</span>
						<button type="button" class="btn_edit"><span class="text">수정</span></button>
					</div>
				</li>
				<li>
					<div class="row_item_mail">
						<span id="mymail">ld210@naver.com</span>
						<button type="button" class="btn_edit"><span class="text">수정</span></button>
					</div>
				</li>
			</ul>
		</div>
		<div class="info_box">
			<div class="head_title">
				<h2 class="subindex_title">주소 관리</h2>
			</div>
		</div>
	</div>
</body>
</html>