<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script src="../../../resources/js/jquery.zoom.js"></script>
<title>Insert title here</title>
<style>
.zoom {display:inline-block; position: relative;}
.zoom:after {content:''; display:block; width:33px; height:33px; position:absolute; top:0; right:0; background:url(icon.png);}
.zoom img {display: block;}
.zoom img::selection { background-color: transparent;}
</style>
<script>
$(document).ready(function(){
	$('#ex1').zoom();
});
</script>
</head>
<body>
	<span class='zoom' id='ex1'>
		<img src="../../../resources/file/notice_repo/9/notice_9.jpg" width='555' height='320'/>
	</span>
</body>
</html>